@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2'),
        url('fonts/JetBrainsMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    color: #e0e0e0;
    background-color: #121212;
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 45px;
    font-family: 'JetBrains Mono', monospace;
    color: #c0c0c0;
}

h3 {
    margin: 0;
    color: #b0b0b0;
    font-size: 17px;
}

p {
    line-height: 120%;
    margin: 0;
}

pre {
    margin: 0;
}

a {
    color: #00d8ff;
    text-decoration-style: dashed;
}

a:hover {
    color: #00d8ff;
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: #121212;
    background-color: #00d8ff;
}

pages-item {
    color: #00d8ff;
    text-decoration-style: dashed !important;
}

pages-item:hover {
    color: #00d8ff;
    text-decoration: dashed !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

::selection {
    color: #121212;
    background-color: #e0e0e0;
}

::-moz-selection {
    color: #121212;
    background-color: #e0e0e0;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.term-grey,
#term-grey {
    color: #a0a0a0;
}

.term-green,
#term-green {
    color: #00ffb3;
}

.term-orange,
#term-orange {
    color: #ff4dff;
}

.term-purple,
#term-purple {
    color: #d900e6;
}

.banner-glow,
#banner-glow {
    text-shadow: 0px 0px 5px #e0e0e0, 0px 0px 10px #e0e0e0;
}

.faint-glow-white,
#faint-glow-white {
    text-shadow: 0px 0px 5px #e0e0e0, 0px 0px 50px #e0e0e0;
}

.faint-glow-green,
#faint-glow-green {
    text-shadow: 0px 0px 5px #00ffb3, 0px 0px 50px #00ffb3;
}

.faint-glow-orange,
#faint-glow-orange {
    text-shadow: 0px 0px 5px #ff4dff, 0px 0px 50px #ff4dff;
}

.faint-glow-purple,
#faint-glow-purple {
    text-shadow: 0px 0px 5px #d900e6, 0px 0px 50px #d900e6;
}

.flex,
#flex {
    display: flex;
}

.invisible,
#invisible {
    opacity: 0;
}

.quote {
    font-size: 25px;
    font-family: 'JetBrains Mono', monospace;
    font-style: italic;
    color: #e0e0e0;
}

.pnf-main-wrapper {
    text-align: center;
}

#main-wrapper {
    display: inline-block;
    background-color: transparent;

    height: 500px;
    width: 70%;

    padding-top: 0px;
    padding-left: 25px;

    color: #e0e0e0;
    font-size: 14px;
}

#terminal {
    display: flex;
    margin-top: 17px;
}

#path {
    margin: 0;
}

#terminal-content {
    width: 1000px;
}

#terminal-input,
.terminal-input {
    background-color: transparent;
    align-self: flex-end;
    /* Aligns input to the bottom */

    border: 0px;
    appearance: none;
    outline-width: 0;

    margin-left: 10px;

    font-family: 'JetBrains Mono', monospace;
    font-size: 17px;
    color: #e0e0e0;
}

#terminal-input {
    outline: none;
    outline-width: 0px;
}

#cursor {
    position: relative;
}

#cursor i {
    width: 10px;
    height: 80%;
    position: absolute;
    left: 5px;
    top: 10%;

    margin-top: 0;

    opacity: 1;
    background-color: transparent;

    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#cursor input:focus+i {
    display: none;
    outline: 0;
}

#bottom {
    padding-bottom: 120px;
}